services:
  jellyfin:
    image: jellyfin/jellyfin:latest
    restart: unless-stopped
    ports:
      - "8096:8096"
    environment:
      - PUID=1000
      - PGID=1000
      - TZ=Europe/Paris
    volumes:
      - ./docker/config:/config
      - ./docker/cache:/cache
      - ./docker/media:/media
      # Plugin DLL - mount the compiled plugin
      - ./Jellyfin.Plugin.AwesomeLibraryCleaner/bin/Release/net9.0:/config/plugins/AwesomeLibraryCleaner
